extends layout/index
block content		
	#container.container-fluid
		.container
			#filterRow.row
				form#filter-form
					.row
						.col
							label(for='processor') Processor
							select#processor.form-control(name='processor')
								option(value='*') All
								option(value='Intel Core i7') Intel Core i7
								option(value='Intel Core i5') Intel Core i5
								option(value='Intel Pentium') Intel Pentium
						.col
							label(for='screen-size') Screen size
							select#screen-size.form-control(name='screen-size')
								option(value='*') All
								option(value='15') 15"
								option(value='13') 13"
								option(value='10') 10"
						.col
							label(for='price') Price
							select#price.form-control(name='price')
								option(value='*') All
								option(value='15000') >10000
								option(value='9999') 5000 - 10000
								option(value='4999') 1 - 4999
			hr
			#product-row.row.justify-content-between
				each computer in computers
					.col
						.card(style='width: 18rem;')
							img.card-img-top(src=`/images/${computer.images[0]}`, alt='Computer image')
							.card-body
								h5.card-title=computer.manufacturer + " " + computer.model
								p.card-text=`${computer.processor} |  ${computer.screensize}" | ${computer.price} DKK`
								button.btn.btn-primary.details-btn(id=`details-${computer.id}`) View details
								button.btn.btn-success.addToCart(id=`add-${computer.id}`) Add to cart
			hr
			.row
				.col-md-2.offset-md-10
					p
						| Total results: 
						span#result-count=computers.length
